name: CI for Microblog Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Start services and run tests
        run: docker-compose up --build --exit-code-from web

      - name: Stop services
        if: always()
        run: docker-compose down