name: CI for Microblog Project

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install test dependencies
        run: pip install -r tests/requirements.txt

      - name: Start application services
        run: docker-compose up -d

      - name: Wait for services to be ready
        run: sleep 10

      - name: Run E2E and Unit tests
        run: pytest

      - name: Stop services
        if: always()
        run: docker-compose down